.mtb30{ margin-top:30px; padding-bottom:20px;}
.dataTables_length .form-group.form-group-sm{margin: 0px 0 0 0;}
.dataTables_length .form-group.form-group-sm .form-control{ font-size:14px; padding-left:5px;}

.dataTables_filter .form-group.form-group-sm{margin: 0px 0 0 0;}
.dataTables_length, .dataTables_filter{ margin-top:10px; margin-bottom:20px;}
.dataTables_filter .form-group.form-group-sm .form-control{ font-size:14px; padding-left:5px;}

.dataTables_info, .dataTables_paginate{ margin-top:20px !important;}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #e91e63;  border-color: #e91e63;}